<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apae - Feira de Santana </title>

    <link rel="icon" type="image/jpg" src="{{asset('images/apae5.png')}}">

    <link rel="stylesheet" type="text/css" href="{{asset('vendor/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css')}}">

    <link rel="stylesheet" type="text/css" href="{{asset('vendor/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('vendor/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css')}}">

    <link rel="stylesheet" type="text/css" href="C:/Users/vanessa/Documents/GitHub/jose_vanessa/vendor/bootstrap-4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="C:/Users/vanessa/Documents/GitHub/jose_vanessa/assets/css/style.css">
</head>
<body>

   <div class="top-container" >
         <header id="header" style="">
            <div class="container" >
                <div class="row">
                    <div id="logo" class="col-2">
                        <a href="/" class="scrollto">
                            <img src="images/apae2.png" class="img-topBar img-fluid" alt="">
                        </a>
                    </div>
                    <!--<nav id="nav-menu-container " class="col-9 text-right" style="height:100%;width:100%"  >
                        <ul class="nav-menu">
                            <li class="pt-3"><a href="/">Inicio</a></li>
                            <li class="pt-3"><a href="/quemsomos">Quem Somos</a></li>
                            <li class="pt-3"><a href="/nossotime">Nosso Time</a></li>
                        </ul>
                        <div class="pt-3 text-right" >
                            <label style="border-radius:50px;background-color:rgba(206, 201, 201,0.4);"><a href="{{ url('/login') }}">Login</a></label>
                        </div>
        
                    </nav>-->
                   <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#">Apae</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="#">Features</a>
                            <a class="nav-item nav-link" href="#">Pricing</a>
                            <a class="nav-item nav-link disabled" href="#">Disabled</a>
                            </div>
                        </div>
                    </nav>-->
                   
                </div>
            </div>
        </header>



        